* {
    margin: 0;
    padding: 0;
}


nav {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(23, 64, 78);
    position: sticky;
    cursor: pointer;
    
}
.logo{
    margin-left: 19px;
}
nav  h1{
    color: white;
    margin: 0 7px;
    font-weight: 900;
    
}
.right a{
    color: white;
    text-decoration: none;
    font-size: large;
    
}
a:hover {
    text-decoration:  underline;
    font-weight: 600;
}

.right {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    margin-left: 312px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255);
    
    
}
.button{
    padding: 20px;
    padding: 11px 20px;
    border-radius: 5px;
    background-color: #fc7200;
    cursor: pointer;
}

.mar{
    margin-right: -36px;
}