* {
    margin: 0;
    padding: 0;
}


.company {

    display: flex;
    justify-content: space-between;
    margin: 90px 55px;



}

.company img {
    width: 40%;
}

.Cright {

    width: 54%;
    line-height: 1.5;
    font-size: larger;

}

.orange {
    color: #fc7200;
    line-height: 3;
}

.inter {
    text-align: center;
    font-size: 45px;
    color: #114465;
    font-style: italic;

}

.inter-in {
    font-size: 20px;
    margin: 40px 0;
    line-height: 1.6;
}

.inter-in .first {
    padding: 0 74px;
}

.second {
    text-align: center;
}

.third {
    text-indent: 6%;

}

.button-sign {
    
    display: block;
    margin: 92px auto;
    text-align: center;
}

.blue-btn{
    padding: 16px 55px;
    background-color: #114465;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    margin: 20px;
    cursor: pointer;
}

.orange-btn{
    padding: 16px 55px;
    background-color: #ff0019;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

