{% extends 'base.html' %}

{% block title %}Home - ZADAR{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='pricingplan.css') }}">
{% endblock %}

{% block content %}
    <div class="pm">
        <h1>Flexible Pricing For Every Business Need</h1>
        <div class = "in"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ratione ut voluptas soluta aspernatur perferendis facilis odio, nostrum quas et obcaecati necessitatibus inventore optio maiores velit quidem perspiciatis assumenda molestias?</p></div>
    </div>
    <main>
        <div class="box1">
            <div class="box-group">
                <div class="box11 blue">
                    <h3>Free Basic Plan</h3>
                </div>
                <div class="box12 black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, accusantium.
                </div>
            </div>
            <div class="box-group">
                <div class="box21 blue">
                    <h3>Professional Monthly Plan</h3>
                </div>
                <div class="box22 black">Lorem ipsum dolor sit.</div>
            </div>
            <div class="box-group">
                <div class="box31 blue">
                    <h3>Professional Annual Plan</h3>
                </div>
                <div class="box32 black">Lorem ipsum dolor</div>
            </div>
        </div>
        <div class="final">
            <div class="box2">
                <h3 class="heading">Our Pricing Plan includes</h3>
                <div class="in col1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                <div class="in col2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                <div class="in col1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                <div class="in col2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                <div class="in col1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                <div class="in col2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                <div class="in col1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                <div class="in col2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                <div class="in col1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                <div class="in col2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                <div class="in col1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                <div class="in col2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                <div class="in col1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                <div class="in col2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            </div>
            <div class="box3">
                <div class="butons"><button class="buttons">Buy Now</button></div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
            </div>
            <div class="box3">
                <div class="butons"><button class="buttons">Buy Now</button></div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
            </div>
            <div class="box3">
                <div class="butons"><button class="buttons">Buy Now</button></div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign wrong">&#10007</div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
                <div class="sign rights">&#10003</div>
            </div>
        </div>
        <h1 class="lasthead">Customer Solutions</h1><br>
        <p class="lastp">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </main>
{% endblock %}